@{
    ViewBag.Title = "FormRegister";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>FormRegister</h2>

@{
    Html.BeginForm("Register", "Form", FormMethod.Get);
    <div style="display: flex; justify-content:center; background-color: deepskyblue">
        <h3 style="color:white">THÔNG TIN VỀ ĐƠN TUYỂN</h3>
    </div>
    <table class="table table-bordered">
        <tr>
            <td>@Html.Label("Tên đơn vị tuyển (*)") </td>
            <td>@Html.TextBox("txtName") </td>
        </tr>
        <tr>
            <td>@Html.Label("Loại hình doanh nghiệp (*)")</td>
            <td>@Html.DropDownList("Type", new SelectList(ViewBag.listType, "ID", "Name"))</td>
        </tr>
        <tr>
            <td>@Html.Label("Số lượng nhân viên")</td>
            <td>@Html.TextBox("txtQuantity")</td>
        </tr>
    </table>
    <div style="display: flex; justify-content:center; background-color: deepskyblue">
        <h3 style="color:white">THÔNG TIN LIÊN HỆ</h3>
    </div>
    <table class="table table-bordered">
        <tr>
            <td>@Html.Label("Địa chỉ (*)") </td>
            <td>@Html.TextBox("txtAddress") </td>
        </tr>
        <tr>
            <td>@Html.Label("Người liên hệ (*)")</td>
            <td>@Html.TextBox("txtContact") </td>
        </tr>
        <tr>
            <td>@Html.Label("Số điện thoại (*)")</td>
            <td>@Html.TextBox("txtPhone")</td>
        </tr>
        <tr>
            <td>@Html.Label("Số Fax")</td>
            <td>@Html.TextBox("txtFax")</td>
        </tr>
        <tr>
            <td>@Html.Label("Email")</td>
            <td>@Html.TextBox("txtEmail")</td>
        </tr>
        <tr>
            <td>@Html.Label("Địa chỉ website")</td>
            <td>@Html.TextBox("txtWebAddress")</td>
        </tr>
    </table>
    <div style="display: flex; justify-content:center; background-color: deepskyblue">
        <h3 style="color:white">THÔNG TIN ĐĂNG NHẬP</h3>
    </div>
    <table class="table table-bordered">
        <tr>
            <td>@Html.Label("Tên đăng nhập (*)") </td>
            <td>@Html.TextBox("txtUName") </td>
        </tr>
        <tr>
            <td>@Html.Label("Mật khẩu")</td>
            <td>@Html.Password("txtPass") Lớn hơn 5 kí tự</td>
        </tr>
        <tr>
            <td>@Html.Label("Nhập lại mật khẩu")</td>
            <td>@Html.Password("txCfPass")</td>
        </tr>
    </table>
    <div style="display: flex; justify-content:center; background-color: deepskyblue">
        <h3 style="color:white">NHẬN E-MAIL</h3>
    </div>
    <table class="table table-bordered">
        <td>@Html.Label("Nhận thư điện tử")</td>
        <td>
            @Html.RadioButton("rabReceive", "Yes") Nhận @Html.RadioButton("rabReceive", "No") Không nhận
        </td>
    </table>
    <br />
    <div style="display: flex; justify-content: center;">
        <input type="submit" value="Cập nhật" />
        <input type="reset" value="Hủy bỏ" onclick="Deleted()"/>
    </div>
    Html.EndForm();
}      