
@{
    ViewBag.Title = "SubmitForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thông tin đăng kí</h2>

<table class="table table-bordered">
    <tr>
        <td>Tên đơn vị tuyển</td>
        <td>@TempData["Name"]</td>
    </tr>
    <tr>
        <td>Loại hình doanh nghiệp</td>
        <td>@TempData["Type"]</td>
    </tr>
    <tr>
        <td>Số lượng nhân viên</td>
        <td>@TempData["Quantity"]</td>
    </tr>
    <tr>
        <td>Địa chỉ</td>
        <td>@TempData["Address"]</td>
    </tr>
    <tr>
        <td>Người liên hệ</td>
        <td>@TempData["Contact"]</td>
    </tr>
    <tr>
        <td>Số điện thoại</td>
        <td>@TempData["Phone"]</td>
    </tr>
    <tr>
        <td>Số Fax</td>
        <td>@TempData["Fax"]</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@TempData["Email"]</td>
    </tr>
    <tr>
        <td>Địa chỉ Website</td>
        <td>@TempData["WebAddress"]</td>
    </tr>
    <tr>
        <td>Tên đăng nhập</td>
        <td>@TempData["UName"]</td>
    </tr>
    <tr>
        <td>Mật khẩu</td>
        <td>@TempData["Pass"]</td>
    </tr>
    <tr>
        <td>Nhận thư điện thử</td>
        <td>@TempData["Receive"]</td>
    </tr>
</table>

